.card-container {
    width: 33.33%;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    
    .wrapper-card {
        width: 100%;
        padding: 0 20px;
    }
    .card-inner {
        width: 100%;
        position: relative;
        padding: 0 10%;
    }
    .character-name {
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(226, 226, 226);
        -webkit-box-shadow: 3px 9px 10px -9px rgb(0, 0, 0);
        -moz-box-shadow: 3px 9px 10px -9px rgb(0, 0, 0);
        box-shadow: 3px 9px 10px -9px rgb(0, 0, 0);
        h6 {
            font-size: 1rem;
            margin: 0;
            padding: 10px;
        }
    }
}