.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .show-more-pokemons {
        cursor: pointer;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .show-more-pokemons:hover {
        background-color: #0069d9;
        border-color: #0062cc;
     }
    .show-more-pokemons:first-child {
        margin-right: 20px;
     }
}
.show-more-pokemons.disable {
    opacity: 0.4;
    pointer-events: none;
}